body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center ;
    background-image: url("1.png");
    overflow: hidden;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 400px;
    margin: 240px;
    background-color: rgb(233, 177, 147);
    border-radius: 20px;
    border: 2px solid black;
    
}



button{
    border-radius: 10px;
    font-size: large;
    width: 500px;
    height: 50px;
    margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:hover{
    color: rgb(203, 85, 118);
}

.soru-ara{
    width: 100%;
    margin-bottom: auto;
    margin-top: 40px;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
    
}

.soru-ara input{
    width: 70%;
    padding: 1rem;
    border-radius: 15px;
    border: none;
}

.soru-ara button{
    width: 80px;
    height: 40px;
    border: none;
}



.kay{
    width: 545px;
    height: 250px;
    background-color: antiquewhite;
    margin-left: 0px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    overflow-y: auto;

}

.soru{
    color: rgb(51, 47, 47);
    width: 95%;
    background-color: aliceblue;
    height: 50px;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid black;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.soru h2{
    margin-left: 10px;
}

.soru button{
    border: 1px solid black;
}

.duzenle{
    margin-left: auto;
}

.soru-ekle{
    width: 90%;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
}
.soru-ekle button{
    width: 100px;
    height: 40px;
    margin-left: auto;
    border: none;
}


.duzenleme-alani{
    width: 550px;
    height: 340px;
    background-color: bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    border: 1px solid black;
}

.duzenleme-alani input{
    margin-top: 5px;
    width: 70%;
    height: 30px;
}

.duzenleme-alani form{
    text-align: right;
}

.duzenleme-alani button{
    margin-left: auto;
    width: 100px;
    height: 50px;
}

.geri-don{
    margin-right: 300px;
}


.soru-ekle a {
    text-decoration: none;
}

.anasayfa {
    margin-right: auto;
}
